In [112]:
# Importando bibliotecas necessárias
import pandas as pd
import cufflinks as cf
from plotly.offline import plot, iplot
import numpy as np

In [113]:
# Carregando o Dataset
dataframe = pd.read_csv('vgsales.csv')

In [114]:
# Verificando inicialmente como os dados estão dispostos no dataframe
dataframe.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [115]:
# Verificando as informações do dataframe
dataframe.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [116]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [117]:
# Verificando se existem valores nulos no dataframe
dataframe.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [118]:
# Observe acima que existem ao todo 329 registros com valores nulos. Isso equivale a aproximadamente 1,9% do
# total de registros existentes no dataframe. NESTE CASO se excluirmos estes registros nulos, isso não afetará
# o aprendizado de um modelo de ML.

In [119]:
# Removendo os registros nulos
dataframe.dropna(inplace=True)

In [120]:
# Verificando novamente o dataframe. Observe que os valores nulos foram excluídos.
dataframe.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [121]:
# Analisando os valores únicos nas colunas categóricas: Name, Platform, Genre, Publisher
dataframe['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [122]:
dataframe['Name'].unique()

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'Plushees', 'Woody Woodpecker in Crazy Castle 5', 'Know How 2'],
      dtype=object)

In [123]:
dataframe['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [124]:
dataframe['Publisher'].unique()

array(['Nintendo', 'Microsoft Game Studios', 'Take-Two Interactive',
       'Sony Computer Entertainment', 'Activision', 'Ubisoft',
       'Bethesda Softworks', 'Electronic Arts', 'Sega', 'SquareSoft',
       'Atari', '505 Games', 'Capcom', 'GT Interactive',
       'Konami Digital Entertainment',
       'Sony Computer Entertainment Europe', 'Square Enix', 'LucasArts',
       'Virgin Interactive', 'Warner Bros. Interactive Entertainment',
       'Universal Interactive', 'Eidos Interactive', 'RedOctane',
       'Vivendi Games', 'Enix Corporation', 'Namco Bandai Games',
       'Palcom', 'Hasbro Interactive', 'THQ', 'Fox Interactive',
       'Acclaim Entertainment', 'MTV Games', 'Disney Interactive Studios',
       'Majesco Entertainment', 'Codemasters', 'Red Orb', 'Level 5',
       'Arena Entertainment', 'Midway Games', 'JVC', 'Deep Silver',
       '989 Studios', 'NCSoft', 'UEP Systems', 'Parker Bros.', 'Maxis',
       'Imagic', 'Tecmo Koei', 'Valve Software', 'ASCII Entertainment',
       'Mindscape', 'Infogrames', 'Unknown', 'Square', 'Valve',
       'Activision Value', 'Banpresto', 'D3Publisher',
       'Oxygen Interactive', 'Red Storm Entertainment', 'Video System',
       'Hello Games', 'Global Star', 'Gotham Games', 'Westwood Studios',
       'GungHo', 'Crave Entertainment', 'Hudson Soft', 'Coleco',
       'Rising Star Games', 'Atlus', 'TDK Mediactive', 'ASC Games',
       'Zoo Games', 'Accolade', 'Sony Online Entertainment', '3DO', 'RTL',
       'Natsume', 'Focus Home Interactive', 'Alchemist',
       'Black Label Games', 'SouthPeak Games', 'Mastertronic', 'Ocean',
       'Zoo Digital Publishing', 'Psygnosis', 'City Interactive',
       'Empire Interactive', 'Success', 'Compile', 'Russel', 'Taito',
       'Agetec', 'GSP', 'Microprose', 'Play It', 'Slightly Mad Studios',
       'Tomy Corporation', 'Sammy Corporation', 'Koch Media',
       'Game Factory', 'Titus', 'Marvelous Entertainment', 'Genki',
       'Mojang', 'Pinnacle', 'CTO SpA', 'TalonSoft', 'Crystal Dynamics',
       'SCi', 'Quelle', 'mixi, Inc', 'Rage Software', 'Ubisoft Annecy',
       'Scholastic Inc.', 'Interplay', 'Mystique', 'ChunSoft',
       'Square EA', '20th Century Fox Video Games', 'Avanquest Software',
       'Hudson Entertainment', 'Nordic Games', 'Men-A-Vision', 'Nobilis',
       'Big Ben Interactive', 'Touchstone', 'Spike', 'Jester Interactive',
       'Nippon Ichi Software', 'LEGO Media', 'Quest',
       'Illusion Softworks', 'Tigervision', 'Funbox Media',
       'Rocket Company', 'Metro 3D', 'Mattel Interactive', 'IE Institute',
       'Rondomedia', 'Sony Computer Entertainment America',
       'Universal Gamex', 'Ghostlight', 'Wizard Video Games',
       'BMG Interactive Entertainment', 'PQube', 'Trion Worlds', 'Laguna',
       'Ignition Entertainment', 'Takara', 'Kadokawa Shoten', 'Destineer',
       'Enterbrain', 'Xseed Games', 'Imagineer',
       'System 3 Arcade Software', 'CPG Products', 'Aruze Corp',
       'Gamebridge', 'Midas Interactive Entertainment', 'Jaleco',
       'Answer Software', 'XS Games', 'Activision Blizzard',
       'Pack In Soft', 'Rebellion', 'Xplosiv', 'GameMill Entertainment',
       'Wanadoo', 'NovaLogic', 'Telltale Games', 'Epoch',
       'BAM! Entertainment', 'Knowledge Adventure', 'Mastiff',
       'Tetris Online', 'Harmonix Music Systems', 'ESP', 'TYO',
       'Telegames', 'Mud Duck Productions', 'Screenlife', 'Pioneer LDC',
       'Magical Company', 'Mentor Interactive', 'Kemco',
       'Human Entertainment', 'Avanquest', 'Data Age',
       'Electronic Arts Victor', 'Black Bean Games', 'Jack of All Games',
       '989 Sports', 'Takara Tomy', 'Media Rings', 'Elf', 'Starfish',
       'Zushi Games', 'Jorudan', 'Destination Software, Inc', 'New',
       'Brash Entertainment', 'ITT Family Games', 'PopCap Games',
       'Home Entertainment Suppliers', 'Ackkstudios', 'Starpath Corp.',
       'P2 Games', 'BPS', 'Gathering of Developers', 'NewKidCo',
       'Storm City Games', 'CokeM Interactive', 'CBS Electronics',
       'Magix', 'Marvelous Interactive', 'Kalypso Media',
       'Nihon Falcom Corporation', 'Wargaming.net', 'Angel Studios',
       'Arc System Works', 'Playmates', 'SNK Playmore',
       'Hamster Corporation', 'From Software', 'Nippon Columbia',
       'Nichibutsu', 'Little Orbit', 'Conspiracy Entertainment',
       'DTP Entertainment', 'Hect', 'Mumbo Jumbo',
       'Pacific Century Cyber Works', 'Indie Games', 'Liquid Games',
       'NEC', 'Axela', 'ArtDink', 'Sunsoft', 'Gust', 'SNK',
       'NEC Interchannel', 'FuRyu', 'Xing Entertainment', 'ValuSoft',
       'Victor Interactive', 'Detn8 Games', 'American Softworks',
       'Nordcurrent', 'Bomb', 'Falcom Corporation', 'AQ Interactive',
       'CCP', 'Milestone S.r.l.', 'JoWood Productions',
       'Seta Corporation', 'On Demand', 'NCS', 'Aspyr',
       'Gremlin Interactive Ltd', 'Agatsuma Entertainment',
       'Compile Heart', 'Culture Brain', 'Mad Catz', 'Shogakukan',
       'Merscom LLC', 'Rebellion Developments', 'Nippon Telenet',
       'TDK Core', 'bitComposer Games', 'Foreign Media Games', 'Astragon',
       'SSI', 'Kadokawa Games', 'Idea Factory',
       'Performance Designed Products', 'Asylum Entertainment',
       'Core Design Ltd.', 'PlayV', 'UFO Interactive',
       'Idea Factory International', 'Playlogic Game Factory',
       'Essential Games', 'Adeline Software', 'Funcom',
       'Panther Software', 'Blast! Entertainment Ltd', 'Game Life',
       'DSI Games', 'Avalon Interactive', 'Popcorn Arcade',
       'Neko Entertainment', 'Vir2L Studios', 'Aques', 'Syscom',
       'White Park Bay Software', 'System 3', 'Vatical Entertainment',
       'Daedalic', 'EA Games', 'Media Factory', 'Vic Tokai',
       'The Adventure Company', 'Game Arts', 'Broccoli', 'Acquire',
       'General Entertainment', 'Excalibur Publishing', 'Imadio',
       'Swing! Entertainment', 'Sony Music Entertainment', 'Aqua Plus',
       'Paradox Interactive', 'Hip Interactive',
       'DreamCatcher Interactive', 'Tripwire Interactive', 'Sting',
       'Yacht Club Games', 'SCS Software', 'Bigben Interactive',
       'Havas Interactive', 'Slitherine Software', 'Graffiti', 'Funsta',
       'Telstar', 'U.S. Gold', 'DreamWorks Interactive',
       'Data Design Interactive', 'MTO', 'DHM Interactive', 'FunSoft',
       'SPS', 'Bohemia Interactive', 'Reef Entertainment',
       'Tru Blu Entertainment', 'Moss', 'T&E Soft', 'O-Games',
       'Aksys Games', 'NDA Productions', 'Data East',
       'Time Warner Interactive', 'Gainax Network Systems', 'Daito',
       'O3 Entertainment', 'Gameloft', 'Xicat Interactive',
       'Simon & Schuster Interactive', 'Valcon Games', 'PopTop Software',
       'TOHO', 'HMH Interactive', '5pb', 'Cave',
       'CDV Software Entertainment', 'Microids', 'PM Studios', 'Paon',
       'Micro Cabin', 'GameTek', 'Benesse', 'Type-Moon',
       'Enjoy Gaming ltd.', 'Asmik Corp', 'Interplay Productions',
       'Asmik Ace Entertainment', 'inXile Entertainment', 'Image Epoch',
       'Phantom EFX', 'Evolved Games', 'responDESIGN',
       'Culture Publishers', 'Griffin International', 'Hackberry',
       'Hearty Robin', 'Nippon Amuse', 'Origin Systems', 'Seventh Chord',
       'Mitsui', 'Milestone', 'Abylight', 'Flight-Plan', 'Glams', 'Locus',
       'Warp', 'Daedalic Entertainment', 'Alternative Software',
       'Myelin Media', 'Mercury Games', 'Irem Software Engineering',
       'Sunrise Interactive', 'Elite', 'Evolution Games', 'Tivola',
       'Global A Entertainment', 'Edia', 'Athena', 'Aria', 'Gamecock',
       'Tommo', 'Altron', 'Happinet', 'iWin', 'Media Works', 'Fortyfive',
       'Revolution Software', 'Imax', 'Crimson Cow', '10TACLE Studios',
       'Groove Games', 'Pack-In-Video', 'Insomniac Games',
       'Ascaron Entertainment GmbH', 'Asgard', 'Ecole', 'Yumedia',
       'Phenomedia', 'HAL Laboratory', 'Grand Prix Games', 'DigiCube',
       'Creative Core', 'Kaga Create', 'WayForward Technologies',
       'LSP Games', 'ASCII Media Works', 'Coconuts Japan', 'Arika',
       'Ertain', 'Marvel Entertainment', 'Prototype', 'Phantagram',
       '1C Company', 'The Learning Company', 'TechnoSoft', 'Vap',
       'Misawa', 'Tradewest', 'Team17 Software', 'Yeti', 'Pow',
       'Navarre Corp', 'MediaQuest', 'Max Five', 'Comfort',
       'Monte Christo Multimedia', 'Pony Canyon', 'Riverhillsoft',
       'Summitsoft', 'Milestone S.r.l', 'Playmore', 'MLB.com',
       'Kool Kizz', 'Flashpoint Games', '49Games', 'Legacy Interactive',
       'Alawar Entertainment', 'CyberFront',
       'Cloud Imperium Games Corporation', 'Societa',
       'Virtual Play Games', 'Interchannel', 'Sonnet', 'Experience Inc.',
       'Zenrin', 'Iceberg Interactive', 'Ivolgamus', '2D Boy',
       'MC2 Entertainment', 'Kando Games', 'Just Flight', 'Office Create',
       'Mamba Games', 'Fields', 'Princess Soft', 'Maximum Family Games',
       'Berkeley', 'Fuji', 'Dusenberry Martin Racing', 'imageepoch Inc.',
       'Big Fish Games', 'Her Interactive', 'Kamui', 'ASK',
       'TopWare Interactive', 'Headup Games', 'KSS', 'Cygames', 'KID',
       'Quinrose', 'Sunflowers', 'dramatic create', 'TGL', 'Encore',
       'Extreme Entertainment Group', 'Intergrow', 'G.Rev', 'Sweets',
       'Kokopeli Digital Studios', 'Number None', 'Nexon', 'id Software',
       'BushiRoad', 'Tryfirst', 'Strategy First', '7G//AMES',
       'GN Software', "Yuke's", 'Easy Interactive', 'Licensed 4U',
       'FuRyu Corporation', 'Lexicon Entertainment', 'Paon Corporation',
       'Kids Station', 'GOA', 'Graphsim Entertainment', 'King Records',
       'Introversion Software', 'Minato Station', 'Devolver Digital',
       'Blue Byte', 'Gaga', 'Yamasa Entertainment', 'Plenty', 'Views',
       'fonfun', 'NetRevo', 'Codemasters Online', 'Quintet',
       'Phoenix Games', 'Dorart', 'Marvelous Games', 'Focus Multimedia',
       'Imageworks', 'Karin Entertainment', 'Aerosoft',
       'Technos Japan Corporation', 'Gakken', 'Mirai Shounen',
       'Datam Polystar', 'Saurus', 'HuneX', 'Revolution (Japan)',
       'Giza10', 'Visco', 'Alvion', 'Mycom', 'Giga', 'Warashi',
       'System Soft', 'Sold Out', 'Lighthouse Interactive',
       'Masque Publishing', 'RED Entertainment', 'Michaelsoft',
       'Media Entertainment', 'New World Computing', 'Genterprise',
       'Interworks Unlimited, Inc.', 'Boost On', 'Stainless Games',
       'EON Digital Entertainment', 'Epic Games', 'Naxat Soft',
       'Ascaron Entertainment', 'Piacci', 'Nitroplus',
       'Paradox Development', 'Otomate', 'Ongakukan', 'Commseed',
       'Inti Creates', 'Takuyo', 'Interchannel-Holon', 'Rain Games',
       'UIG Entertainment'], dtype=object)

In [125]:
dataframe['Rank'].unique()

array([    1,     2,     3, ..., 16598, 16599, 16600])

In [126]:
# Convertendo a coluna Year do tipo float64 para o tipo int32
dataframe.Year = dataframe.Year.astype('int32')

In [127]:
dataframe.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [128]:
dataframe.NA_Sales.max()

41.49

In [129]:
dataframe.Year.max()

2020

In [130]:
dataframe.Year.min()

1980

In [131]:
dataframe.EU_Sales.max()

29.02

In [132]:
# Habilitando a plotagem offline do Plotly
cf.go_offline()

In [ ]:
# Em andamento.....